.controller h2 {
    text-align: center;
}

.root-color-sample, .note-color-sample{
    color: white;
    padding: 10px;
    border-radius: 25%;
}

.root-color-sample{
    background: green;  
    border: 1px solid green;
}
.note-color-sample{
    background: teal;
    border: 1px solid teal;
}

@media screen and (max-width:1024px) {
    .controller section>* {
        display: block;
        margin: 10px;
    }

    .controller div>* {
        display: inline;
    }
}